h1 Bull

script(type="text/javascript")
  var host = "#{host}";
  var port = "#{port}";
  
canvas#game

.footer
  \Move with arrow keys, Space shoots in moving direction
  \&nbsp;-&nbsp;
  \Crafted by 
  a(href="http://twitter.com/dhoelzgen") Daniel Hoelzgen
  , available on
  a(href="https://github.com/dhoelzgen/bull") Github
  \.

.stripes
