!!!
html
  head
    title Bull
    link(rel='stylesheet', href='/font/slkscr.css', type='text/css')
    link(rel='stylesheet', href='/style.css', type='text/css')
    script(src='/jquery.min.js', type='text/javascript')
    script(src='/socket.io/socket.io.js', type='text/javascript')
    script(src='/client.js', type='text/javascript')
  body
    != body
