html{width:100%;height:100%;margin:0;overflow:hidden}
body{padding:0;margin:0;font:15px 'SilkscreenNormal',Arial,sans-serif;background-color:#253008;text-align:center;color:#405828;height:100%}
h1,h2,h3{font-weight:normal}
#game{position:absolute;top:60px;left:0;right:0;bottom:40px;width:auto;height:auto;margin:auto}
.footer{position:absolute;bottom:12px;width:100%;text-align:center;color:#304818;}
.footer a,.footer a:active,.footer a:visited{color:#405828;text-decoration:none}
.footer a:hover{color:#506838}
